@font-face {
    font-family: 'BeaufortForLol';
    src: url("../typos/BeaufortForLol-TTF/BeaufortforLOL-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'BeaufortForLol';
    src: url("../typos/BeaufortForLol-TTF/BeaufortforLOL-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'BeaufortForLol';
    src: url("../typos/BeaufortForLol-TTF/BeaufortforLOL-Heavy.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'BeaufortForLol';
    src: url("../typos/BeaufortForLol-TTF/BeaufortforLOL-HeavyItalic.ttf") format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'BeaufortForLol';
    src: url("../typos/BeaufortForLol-TTF/BeaufortforLOL-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'BeaufortForLol';
    src: url("../typos/BeaufortForLol-TTF/BeaufortforLOL-Light.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'BeaufortForLol';
    src: url("../typos/BeaufortForLol-TTF/BeaufortforLOL-LightItalic.ttf") format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'BeaufortForLol';
    src: url("../typos/BeaufortForLol-TTF/BeaufortforLOL-Medium.ttf") format('truetype');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'BeaufortForLol';
    src: url("../typos/BeaufortForLol-TTF/BeaufortforLOL-MediumItalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'BeaufortForLol';
    src: url("../typos/BeaufortForLol-TTF/BeaufortforLOL-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spiegel';
    src: url("../typos/Spiegel-TTF/Spiegel_TT_Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Spiegel';
    src: url("../typos/Spiegel-TTF/Spiegel_TT_Bold_Italic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Spiegel';
    src: url("../typos/Spiegel-TTF/Spiegel_TT_SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Spiegel';
    src: url("../typos/Spiegel-TTF/Spiegel_TT_SemiBold_Italic.ttf") format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Spiegel';
    src: url("../typos/Spiegel-TTF/Spiegel_TT_Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spiegel';
    src: url("../typos/Spiegel-TTF/Spiegel_TT_Regular_Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

:root{
    /*blue for hextech magic and background colors*/

    --blue_1: #CDFAFA;
    --blue_2: #0AC8B9;
    --blue_3: #0397AB;
    --blue_4: #005A82;
    --blue_5: #0A323C;
    --blue_6: #091428;
    --blue_7: #0A1428;

    /*gold for hextech metal, h1, borders and more*/

    --gold_1: #F0E6D2;
    --gold_2: #C8AA6E;
    --gold_3: #C8AA6E;
    --gold_4: #C89B3C;
    --gold_5: #785A28;
    --gold_6: #463714;
    --gold_7: #32281E;

    /*grey  for text*/

    --grey_1: #A09B8C;
    --grey_2: #5B5A56;
    --grey_3: #3C3C41;
    --grey_4: #1E2328;
    --grey_5: #1E282D;
    --hextech_Black: #010A13;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BeaufortForLol', sans-serif;
}

h1 {
    color: var(--gold_4);
}

body {
    background: linear-gradient(var(--blue_7), var(--blue_6));
    color: var(--grey_1);
}


.swiper {
    width: 80%;
    height: 80%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }