body{
    background: linear-gradient(var(--blue_7), var(--blue_6));
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    overflow: hidden;
}

#ornaments{
    z-index: 3;
    position: absolute;
    top: 5%;
    left: 33.5%;
    color: var(--gold_4);
}

.info{
    position: absolute;
    top: 15%;
    z-index: 2;
    left: 10%;
}

.swiper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.swiper-cards{
    overflow: hidden;
}

.swiper-slide {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: var(--blue_7);
}
.swiper-slide img{
    border-radius: 18px;
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.swiper-button-next{
    right: 13%!important;
}
.swiper-button-prev{
    left: 13%!important;
}