body{
	background: linear-gradient(var(--blue_7), var(--blue_4));
	margin: 0;
	padding: 0;
}

header{
	text-align: center;
	overflow: hidden;
}

.swiper {
	width: 80%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}

.mySwiper2 {
	height: 100%;
	width: 80%;
}

.mySwiper {
	margin-top: 1%;
	margin-bottom: 1%;
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

.mySwiper h3 {
	position: relative;
	width: auto;
	top: -45px;
	color: var(--gold_1);
}

.mySwiper h3 span{
	background-color: var(--gold_2);
	padding: 1% 3%;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}