h1, h2 {
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div{
    width: 23%;
    border: #C89B3C solid 1px;
    margin: 0.5%;
    border-collapse: collapse;
    text-align: center;
}

img{
    width: 290px;
    height: 530px; 
    object-fit: none;
}